{% extends "layouts/page-layout.html.twig" %}
{% block title %}{{ 'titles.gallery' | trans }}{% endblock %}
{% set header_active = 'gallery' %}

{% block main %}
    <div class="container">
        {% include 'components/photos.html.twig' %}
        {% include 'components/paging.html.twig' %}
    </div>
{% endblock %}