{% extends "layouts/page-layout.html.twig" %}
{% block title %}{{ 'titles.gallery' | trans }}{% endblock %}
{% set header_active = 'gallery' %}

{% block main %}
    <div class="container">
        <div id="lightgallery" class="gallery-photos">
            {% for galleryPhoto in galleryPhotos %}
                {% include 'components/gallery-photo.html.twig' with {galleryPhoto: galleryPhoto} %}
            {% endfor %}
        </div>
        {% include 'components/paging.html.twig' %}
    </div>
{% endblock %}