{% extends 'base.html.twig' %}
{% block title %}{{ 'titles.home' | trans }}{% endblock %}
{% set header_active = 'home' %}

{% block body %}
    <div class="home-page">
        {% include 'components/slideshow.html.twig' %}
        <div class="container">
            <h3 class="subtitle">{{ 'titles.categories' | trans }}</h3>
            {% include 'components/categories.html.twig' with {categories: rootCategories} %}
        </div>
        <div class="container">
            <h3 class="subtitle">{{ 'titles.newest_products' | trans }}</h3>
            {% include 'components/products.html.twig' with {products: newestProducts} %}
        </div>
    </div>
{% endblock %}