{% extends 'layouts/page-layout.html.twig' %}
{% block title %}{{ category ? category : 'titles.products' | trans  }}{% endblock %}
{% set header_active = category ? category.getRootCategory.slug : 'products' %}

{% block main %}
    <div class="container">
        {% include 'components/categories-links.html.twig' with {categories: category ? category.children : getRootCategories()} %}
        <div class="products">
            {% for product in products %}
                {% include 'components/product.html.twig' with {product: product} %}
            {% endfor %}
        </div>
        {% include 'components/paging.html.twig' %}
    </div>
{% endblock %}