{% extends 'layouts/page-layout.html.twig' %}
{% block title %}{{ category ? category : 'titles.products' | trans  }}{% endblock %}
{% set header_active = category ? category.getRootCategory.slug : 'products' %}

{% block main %}
    <div class="container">
        {% include 'components/categories-links.html.twig' with {categories: category ? category.children : getRootCategories()} %}
        {% include 'components/products.html.twig' with {products: products} %}
        {% include 'components/paging.html.twig' %}
    </div>
{% endblock %}