@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Montserrat:300,400,500,600,700|Open+Sans:300,400,400i,600,600i,700|Playfair+Display:400,400i,700,900|Lato');

@import "variables/colors";
@import "variables/fonts";

@import "mixins/transitions";

@import "components/grid";
@import "components/footer";
@import "components/product";
//@import "components/header";

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


