.footer {
    width: 100%;
    height: auto;
    background-color: $color-dark-blue;
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyrights {
            color: rgba($color-white, 0.75);
            font-size: 11px;

            .link {
                color: $color-white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .information {
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                font-size: 11px;
                margin-left: 25px;
                color: rgba($color-white, 0.75);

                &:nth-child(2) {
                    margin-right: 100px;
                }

                i {
                    font-size: 14px;
                    margin-top: 2px;
                }

                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}