.header {
	width: 100%;
	top: 0;
	height: 60px;
	background-color: $color-white;
	border-bottom: 1px solid $color-light-grey;
	position: fixed;
	left: 0;
	display: flex;
	z-index: 99;

	.navigation {
		flex: 1;

		.container {
			display: flex;
			align-items: center;
			height: 100%;

			.logo {
				width: 60px;
				height: 42px;
				margin-right: 15px;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("../../images/logo.jpg");
			}

			.navigation-item {
				font-size: 11px;
				text-transform: uppercase;
				color: $color-grey;
				margin: 0 15px;
				font-weight: 600;
				@include transition;

				&:hover,
				&.active {
					color: $color-primary;
				}
			}
		}
	}
}