.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-black, 0);
  z-index: -1;
  transition: all $transition-duration ease, z-index 0s ease $transition-duration;

  &.visible {
    transition: all $transition-duration ease, z-index 0s ease $transition-delay;
    background-color: rgba($color-black, $rgba-alpha);
    z-index: 100;
  }
}