.page-header {
  width: 100%;
  padding: 50px 0;
  margin-top: 60px;
  border-bottom: 1px solid $color-light-grey;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .title {
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.5;
      color: $color-primary;
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      margin-top: 10px;
      justify-content: center;

      .breadcrumb-item {
        font-size: 12px;
        margin-right: 5px;

        &:last-of-type {
          margin-right: 0;
        }

        .link {
          color: $color-grey;
          @include transition;

          &:after {
            color: $color-grey;
            content: '/';
            margin-left: 10px;
            margin-right: 5px;
            position: relative;
            transition: all 0.2s ease;
          }

          &:hover {
            color: $color-dark-grey;

            &:after {
              color: $color-dark-grey;
            }
          }
        }

        .active {
          color: $color-dark-grey;
        }
      }
    }
  }

  @include for-phone {
    padding: 25px 0;

    .container {
      align-items: center;

      .title {
        margin-bottom: 10px;
      }

      .breadcrumb {
        flex-direction: column;

        .breadcrumb-item {
          margin-bottom: 15px;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }

          .link:after {
            display: none;
          }
        }
      }
    }
  }
}