.product {
  background-color: $color-white;
  position: relative;

  .link {
    @include absolute-fill;
    z-index: 2;
  }

  .image {
    width: 100%;
    height: 255px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    &:before {
      content: "";
      background-color: rgba($color-black, 0);
      z-index: 1;
      @include transition;
      @include absolute-fill;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @include transition;
    }
  }

  .details {
    padding: 15px 0;

    .title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px;
      color: $color-dark-grey;
    }

    .price {
      font-size: 14px;
      font-weight: 500;
      color: $color-grey;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }

      &:before {
        background-color: rgba($color-black, $rgba-alpha);
      }
    }
  }
}