<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% endblock %} | Redvelvet</title>
        <link rel="icon" href="{{ asset('images/logo.jpg') }}" type="image/jpg">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'components/header.html.twig' %}
        {% include 'components/mobile-header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'components/footer.html.twig' %}
        <div class="overlay" id="overlay"></div>
    </body>
</html>
