<div class="category">
    <a href="{{ path('category products', {slug: category.slug}) }}" class="link"></a>
    <div class="image">
        <img src="{{ vich_uploader_asset(category, 'file') }}" alt="{{ category.title }}">
    </div>
    <div class="details">
        <h3 class="title">{{ category.title }}</h3>
    </div>
</div>