<footer class="footer">
    <div class="container">
        <span class="copyrights">
            &copy; {{ "now" | date('Y') }} {{ 'footer.created_by' | trans }} <a class="link" target="_blank" href="#">Vytautas Saulis</a>. {{ 'footer.all_rights_reserved' | trans }}.
        </span>
        <div class="information">
            <a class="link" target="_blank" href="mailto:info@redvelvet.lt">info@redvelvet.lt</a>
            <a class="link" target="_blank" href="tel:+37061121862">+370 611 21862</a>
            <div class="social-media">
                <a class="link" target="_blank" href="https://www.facebook.com/redvelvetdesertine"><i class="fa fa-facebook"></i></a>
                <a class="link" target="_blank" href="https://www.instagram.com/redvelvetdesertinekavine/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>