<div data-src="{{ vich_uploader_asset(galleryPhoto, 'file') }}" class="gallery-photo">
    <div class="image">
        <img src="{{ vich_uploader_asset(galleryPhoto, 'file') }}" alt="{{ galleryPhoto.title }}">
    </div>
    <div class="details">
        <h3 class="title">{{ galleryPhoto.title }}</h3>
    </div>
</div>