<header id="mobile-header" class="mobile-header">
    <div class="container">
        <i class="material-icons menu">menu</i>
        <a class="logo" href="{{ path('home') }}"></a>
    </div>
</header>