<div data-src="{{ asset('products/' ~ photo.photoUrl) }}" class="photo">
    <div class="image">
        <img src="{{ asset('products/' ~ photo.photoUrl) }}" alt="{{ photo.title }}">
    </div>
    <div class="details">
        <h3 class="title">{{ photo.title }}</h3>
    </div>
</div>