<div class="products">
    {% for product in products %}
        {% include 'components/product.html.twig' with {product: product} %}
    {% endfor %}
    <div class="center">
        {% include 'components/paging.html.twig' %}
    </div>
</div>