<div class="products">
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
    {% include 'components/product.html.twig' %}
</div>