<div class="product">
    <div class="image">
        <img src="{{ asset('images/product.jpg') }}" alt="Product">
    </div>
    <div class="description">
        <h4>$29</h4>
        <h3>Strawberry Cupcakes</h3>
        <a class="pest_btn" href="#">Add to cart</a>
    </div>
</div>