<div class="slideshow swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img alt="redvelvet" src="{{ asset('images/slide1.jpg') }}" />
        </div>
        <div class="swiper-slide">
            <img alt="redvelvet" src="{{ asset('images/slide2.jpg') }}" />
        </div>
        <div class="swiper-slide">
            <img alt="redvelvet" src="{{ asset('images/slide3.jpg') }}" />
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>