$color-tuna: #303339;
$color-white: #ffffff;
$color-black: #000000;
$color-mauvelous: #F195B2;
$color-silver-chalice: #A8A8A8;
$color-jumbo: #7B7B7C;
$color-azalea: #F8CAD9;
$color-mine-shaft: #242424;

$color-dark-grey: #282828;
$color-dark-grey-1: #343434;